/* thộc tính chung */
.trangchu {
  background: hsl(0, 0%, 100%);
}
.bt-cac-trang {
  margin: 0 auto;
  width: 1700px;
}
.bt_chung {
  font-size: 20px;
  color: rgb(255, 7, 7);
  background: rgb(173, 231, 24);
  border: 3px solid rgb(0, 40, 126);
  border-radius: 10px;
}
.bt_chung:hover {
  color: rgb(7, 7, 7);
}
.bt_chung:active {
  background: rgb(4, 235, 16);
}
.quay-ve-dau-trang {
  font-size: 25px;
}
.quay-ve-dau-trang:hover {
  color: blueviolet;
}
/* text index */

/* .bt-cac-trang {
  margin: 0 auto;
  width: 1700px;
} */
.h1-index {
  font-size: 30px;
}
.trangindex .gioithieu {
  font-size: 25px;
  width: 1100px;
  height: 55px;
  box-sizing: border-box;
}
.trangindex .gioithieu01 {
  height: 15px;
}
.trangindex .gioithieu04,
.gioithieu05,
.gioithieu07 {
  height: 90px;
}
.trangindex .gioithieu09 {
  height: 95px;
}
.trangindex .h1-index {
  color: red;
}
.trangindex {
  margin: 0 auto;
  width: 1700px;
}
.anh {
  margin: 0 auto auto 190px;
  width: 700px;
}
.danh-sach-tap {
  margin: 0 auto;
  width: 1700px;
}
/* thẻ a index */
.ds_01 {
  font-size: 30px;
}
.ds_01:link {
  color: blue;
}
.ds_01:visited {
  color: rgb(240, 6, 103);
}
/* chung kéo xà & hít đất & tập bụng*/
/* .co-chu-DS-01 -> cochu nameclass */
.co-chu-DS-01 {
  font-size: 20px;
}
.cochu {
  font-size: 20px;
}
/* text hít đất */
.tranghitdat {
  margin: 0 auto;
  width: 1700px;
}
.hitdat {
  font-size: 25px;
  text-decoration: none;
}
.hitdat:hover {
  text-decoration: underline;
}
.tieu-de-hit-dat {
  color: blue;
}
h1:target {
  color: rgb(255, 22, 5);
}
/* text kéo xà */
.tieu-de-keo-xa {
  color: blue;
}
.keoxa {
  font-size: 25px;
}
/* phần bài tập */
.th_01 {
  color: blue;
  background: green;
  border: 1px black solid;
}
.th_02 {
  color: rgb(40, 90, 17);
  background: rgb(243, 169, 9);
  border: 1px black solid;
}
.td_01 {
  color: rgb(243, 169, 9);
  background: rgb(40, 90, 17);
  border: 1px black solid;
}
.chan_01 {
  color: rgb(150, 31, 31);
  background: rgb(201, 201, 8);
  border: 1px black solid;
}
.chan_02 {
  color: blue;
  background: rgb(250, 171, 2);
  border: 1px black solid;
}
/* text bài tập bụng */
.bai-tap-bung {
  font-size: 25px;
}
.tieu-de-tap-bung {
  color: blue;
}
