/* attribute default table */
table a {
  color: #fbff0a;
  text-decoration: none;
}
/* màu chữ, nền và border th, td  */
th,
td {
  color: #fbff00;
  padding: 0.5rem;
  align-content: center;
  background-color: #079979;
  background: linear-gradient(to left, #30faa9, #02a172);
  border: 2px inset #000000;
  text-shadow: 2px 2px 2px #000;
}
/* hiệu ứng khi di chuột qua table có thẻ a */
table a:hover {
  color: #0ad9fd;
}
