/* attribute default table */
table a {
  color: #fbff0a;
  text-decoration: none;
}
/* màu chữ, nền và border th, td  */
th,
td {
  color: #fbff00;
  background-color: #024234;
  border: 2px solid #242121;
  box-shadow: 0 0 3px #54d0e0;
  text-shadow: 2px 2px 2px #000;
}
@supports (background: -webkit-linear-gradient(to left, #237a57, #093028)) or
  (background: linear-gradient(to left, #237a57, #093028)) {
  th,
  td {
    color: #fbff00;
    background-color: #024234;
    border: 2px solid #242121;
    box-shadow: 0 0 3px #54d0e0;
    text-shadow: 2px 2px 2px #000;
    background: #093028;
    background: -webkit-linear-gradient(to left, #237a57, #093028);
    background: linear-gradient(to left, #237a57, #093028);
  }
}

/* hiệu ứng khi di chuột qua table có thẻ a */
table a:hover {
  color: #0ad9fd;
}
