/* màu cho phần text hỗ trợ */
.lien-ket-ho-tro {
  background: transparent;
  width: 100%;
  height: 30rem;
  background-image: url(../anh/img/ho-tro.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.lien-ket-ho-tro h3 {
  color: rgb(240, 243, 240);
}
.lien-ket-ho-tro h3,
a {
  color: #cac8c8;
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: none;
  text-shadow: -2px -1px 1px #024d4d;
}
.lien-ket-ho-tro a:hover {
  text-shadow: -2px -1px 1px #12b6b6;
}
