/* đặt attribute default cho body */
body {
  font-size: 62.5%;
  line-height: 2rem;
  color: #fff;
  background-color: #353434;
}
div {
  margin: 0 auto;
}
/* phần margin cho khối div .lien-ket-cac-trang */
.lien-ket-cac-trang {
  height: 2rem;
  background-color: #333535;
  border: 1px solid #2b2a2a;
  border-radius: 0.4rem;
}
.lien-ket-cac-trang:hover {
  background-image: #333232;
}
@supports (background-image: linear-gradient(to right, #1a1919, #686868)) or
  (background-image: -webkit-linear-gradient(to right, #1a1919, #686868)) {
  .lien-ket-cac-trang:hover {
    background-image: linear-gradient(to right, #1a1919, #686868);
    background-image: -webkit-linear-gradient(to right, #1a1919, #686868);
  }
}
/* attribute chung cho button cac trang */
.bt_chung {
  font-size: 1.1rem;
  text-decoration: none;
  color: #2b2a2a;
  background-color: #3a3939;
  margin: 0 auto 0 5px;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #ffae00;
  box-shadow: 2px 2px #555454;
}
/* hiệu ứng khi di chuột qua khối div .lien-ket-cac-trang */
.bt_chung:hover {
  color: #ffae00;
  background-color: #3a3939;
  text-shadow: 1px 1px 0px #000000;
  box-shadow: 2px 2px 0px #f8b420;
}
/* icon cho button home */
.fa-house {
  margin-right: 2px;
}
/* đặt attribute default cho class .trangchu */
.trangchu {
  font-size: 1.1rem;
  color: #f5f2f2;
  margin: 0 auto 0 10px;
  text-shadow: 0px 0px 1px #0f4ffd;
}
.trang-ho-tro {
  font-size: 1.1rem;
  color: #f5f2f2;
  margin: 0 auto 0 10px;
}
/* màu và hiệu ứng cho khối div .danh-sach-tap index */
.danh-sach-tap {
  width: 100%;
  border: 1px solid #424040;
}
.danh-sach-tap a {
  color: rgb(62, 127, 247);
  text-shadow: 0px 0px 1px #000000;
  text-decoration: none;
}
/* hiệu ứng khi di chuột vào khối div .danh-sach-tap index */
.danh-sach-tap a:hover {
  color: #0ad8df;
  text-decoration: underline;
}
.danh-sach-tap a:visited {
  color: #f0f;
  text-shadow: 0 0 1px #000;
}
/* hiệu ứng cho button quay lại trang chủ */
.quay-lai .quay-ve-dau-trang {
  color: #000000;
  background-color: #181818;
  text-decoration: none;
  display: inline-block;
  margin: 0 30% 0;
  border-radius: 5px;
  text-shadow: 0px 1px 0px #ffae00;
  box-shadow: 2px 2px #555454;
}
.quay-lai .quay-ve-dau-trang:hover {
  color: #ffae00;
  text-shadow: 1px 1px 0px #ff9101;
  box-shadow: 2px 2px 0px #f8b420;
}
/* hiệu ứng cho thẻ tiêu đề h1 có class .tieu-de-mo-dau */
.tieu-de-mo-dau {
  color: #f00;
  font-size: 1.6rem;
  text-shadow: 2px 2px 2px #000;
}
/* cỡ chữ chung cho các bài tập */
.cochu {
  font-size: 1.3rem;
}
h1:target {
  color: #f00;
  text-shadow: 4px 0 1px #000000;
}
/* bố cục hình ảnh*/
.anh-trang-index {
  max-width: 100%;
  margin: 0 auto;
}
strong {
  font-weight: bold;
  color: #7fd1f7;
}
ul {
  list-style-type: disc;
}
