/* đặt attribute default cho body */
body {
  font-size: 62.5%;
  line-height: 2rem;
  color: #fff;
  background-color: #353434;
}
/* phần margin cho khối div .lien-ket-cac-trang */
.lien-ket-cac-trang {
  margin: 0 auto 0 20px;
}
/* attribute chung cho button cac trang */
.bt_chung {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  background-color: #1f1e1e;
  margin: 0 auto 0 5px;
  border-radius: 4px;
  text-shadow: 0px 0px 2px #8beaf7, 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #fff, 0px 0px 2px #7beef1, 0px 0px 3px #000;
}
/* hiệu ứng khi di chuột qua khối div .lien-ket-cac-trang */
.bt_chung:hover {
  color: #303030;
  background-color: #ffffff;
  text-shadow: 0px 0px 3px rgb(209, 238, 245);
  box-shadow: 0px 0px 2px rgba(4, 217, 245, 0.952);
}
/* icon cho button home */
.fa-house {
  margin-right: 2px;
}
/* đặt attribute default cho class .trangchu */
.trangchu {
  font-size: 1.1rem;
  color: #f5f2f2;
  margin: 0 auto 0 10px;
  text-shadow: 0px 0px 1px #0f4ffd;
}
/* màu và hiệu ứng cho khối div .danh-sach-tap index */
.danh-sach-tap a {
  color: rgb(4, 250, 176);
  text-shadow: 0px 0px 1px #93dde7;
  text-decoration: none;
}
/* hiệu ứng khi di chuột vào khối div .danh-sach-tap index */
.danh-sach-tap a:hover {
  color: #7beef1;
  text-decoration: underline;
}
.danh-sach-tap a:visited {
  color: #f0f;
  text-shadow: 0 0 1px #000;
}
/* hiệu ứng cho button quay lại trang chủ */
.quay-lai .quay-ve-dau-trang {
  color: #aae5ec;
  background-color: #181818;
  text-decoration: none;
  display: inline-block;
  margin: 0 30% 0;
  border-radius: 5px;
  text-shadow: 0px 0px 2px#3a5c5a;
  box-shadow: inset 1px 1px #b1dbdb;
}
.quay-lai .quay-ve-dau-trang:hover {
  /* color: #fff;
  text-shadow: 0px 0px 3px #fff; */
  box-shadow: inset 1px 1px #ff0;
  background-color: #111111;
}
/* hiệu ứng cho thẻ tiêu đề h1 có class .tieu-de-mo-dau */
.tieu-de-mo-dau {
  color: #f00;
  font-size: 1.6rem;
  text-shadow: 2px 2px 2px #000;
}
/* cỡ chữ chung cho các bài tập */
.cochu {
  font-size: 1.3rem;
}
h1:target {
  color: #f00;
  text-shadow: 2px 2px 2px #807e7d;
}
/* bố cục hình ảnh*/
.anh-trang-index {
  width: 70%;
  margin-left: 10%;
}
strong {
  font-weight: bold;
  color: #7fd1f7;
}
ul {
  list-style-type: disc;
}
