/* màu và hiệu ứng cho thẻ a tập chân  */
.lien-ket-tap-chan {
  max-width: 100%;
  border: 1px solid #4b4a4a;
}
.lien-ket-tap-chan a {
  font-size: 1.3rem;
  color: #0ff;
  text-decoration: none;
}
.lien-ket-tap-chan a:hover {
  color: #0f0;
  text-decoration: underline;
}
/* màu chữ và hiệu ứng cho tiêu đề tập chân */
.tieu-de-tap-chan {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px rgb(101, 236, 236);
}
/* cỡ chữ cho bài tập */
#squat,
#forward-lunges,
#jump-squat,
#pistol-squat,
#standing-calf-raise,
#jumping-jack {
  font-size: 1.8rem;
}
/* bố cục cho hình ảnh */
.anh-tap-chan {
  max-width: 100%;
  margin: 0 auto;
}
